/* .grid {
  display: flex;
  flex-wrap: wrap;
  margin: -1%;
}

.grid-item {
  flex-basis: 23%;
  margin: 1%;
  height: 250px;
} */

@supports (display: grid) {
  .grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 250px;
    grid-gap: 20px;
  }
}
