* {
  box-sizing: border-box;
}

body {
  font-family: Helvetica, sans-serif;
}

.layout {
  font-size: 30px;
  font-weight: bold;
  color: white;
  height: 100%;
}

.layout > div {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 20px;
  background-color: #979797;
}
