* {
  box-sizing: border-box;
}

body {
  font-family: 'Helvetica', sans-serif;
}

.grid {
  font-size: 42px;
  font-weight: bold;
  color: #FFFFFF;
}

.grid > div {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 20px;
  background-color: #979797;
}
